Demand Forecasting: Developing models to predict future demand for various products accurately. This involves analyzing historical sales data, market trends, seasonality, and external factors like economic indicators or events that could influence demand. Accurate forecasts are crucial for planning production, inventory levels, and avoiding stockouts or excess inventory.

Supply Chain Optimization: Identifying the most efficient and cost-effective strategies for sourcing materials, manufacturing, and distributing products to retailers or directly to consumers. This might involve route optimization, supplier selection, and evaluating make-or-buy decisions.

Inventory Management: Developing algorithms to optimize inventory levels across different warehouses and retail outlets to ensure that products are available where and when they're needed, minimizing holding costs and reducing the risk of stockouts or overstock situations.

Product Lifecycle Management: Analyzing sales and customer feedback data to determine the lifecycle stage of each product, helping the company decide when to introduce new models, discontinue products, or run promotions to clear out inventory.

Cost Reduction and Efficiency Improvement: Identifying opportunities to reduce costs and improve operational efficiency across the supply chain. This could involve automating manual processes, improving the accuracy of demand planning to reduce the need for expedited shipping, and optimizing the product mix to maximize profitability.

Risk Management: Assessing and mitigating risks related to supply chain disruption, such as supplier reliability, geopolitical factors, natural disasters, and pandemics. Developing contingency plans and strategies to ensure supply chain resilience.

Sustainability Analysis: Evaluating the environmental impact of supply chain operations and identifying opportunities to reduce carbon footprint, waste, and improve sustainability practices in production and distribution.

Customer Experience Enhancement: Analyzing customer feedback and return data to identify issues with product quality or features that could be improved. Working with product development and quality assurance teams to address these issues can enhance customer satisfaction and loyalty.

Market Trend Analysis: Keeping abreast of market trends and technological advancements in the home appliance sector to forecast shifts in consumer preferences and emerging opportunities or threats.

Supplier Performance Management: Developing metrics and monitoring systems to assess supplier performance in terms of quality, delivery, and cost. This information can be used to negotiate better terms, identify areas for improvement, or make decisions about changing suppliers.

 1- Demand Forecasting: Developing models to predict future demand for various products accurately. This involves analyzing historical sales data, market trends, seasonality, and external factors like economic indicators or events that could influence demand. Accurate forecasts are crucial for planning production, inventory levels, and avoiding stockouts or excess inventory.

In [1]:
#!pip install Faker

In [2]:
import pandas as pd
import numpy as np
from faker import Faker
import json
import random

fake = Faker()

# Function to generate random JSON for complex data columns
def generate_random_json():
    return json.dumps({'key': fake.word(), 'value': fake.random_number()})

# Sample data generation
data = {
    'ProductID': [fake.bothify(text='???-###') for _ in range(100)],
    'ProductName': [fake.word().capitalize() for _ in range(100)],
    'Category': [random.choice(['Refrigerator', 'Microwave', 'Washer', 'Dryer', 'Oven']) for _ in range(100)],
    'QuantitySold': np.random.randint(1, 50, size=100),
    'SalesDate': [fake.date_between(start_date='-2y', end_date='today') for _ in range(100)],
    'UnitPrice': np.random.uniform(100, 2000, size=100).round(2),
    'Revenue': np.random.uniform(200, 10000, size=100).round(2),
    'Channel': [random.choice(['Online', 'In-store', 'Distributor']) for _ in range(100)],
    'Weekday': [fake.day_of_week() for _ in range(100)],
    'Month': np.random.randint(1, 13, size=100),
    'Quarter': np.random.randint(1, 5, size=100),
    'Year': np.random.randint(2019, 2023, size=100),
    'Holiday': np.random.choice([True, False], size=100),
    'EconomicIndicators': [generate_random_json() for _ in range(100)],
    'MarketTrends': [generate_random_json() for _ in range(100)],
    'CompetitorPricing': np.random.uniform(100, 2000, size=100).round(2),
    'Promotions': np.random.choice([True, False], size=100),
    'WeatherConditions': [random.choice(['Sunny', 'Rainy', 'Snowy', 'Cloudy']) for _ in range(100)],
    'PoliticalEvents': np.random.choice([True, False], size=100),
    'StockLevels': np.random.randint(0, 100, size=100),
    'LeadTime': np.random.randint(1, 30, size=100),
    'SupplierPerformance': np.random.uniform(0.5, 1.0, size=100).round(2),
    'CustomerSegment': [random.choice(['Youth', 'Adult', 'Senior']) for _ in range(100)],
    'PurchaseHistory': [generate_random_json() for _ in range(100)],
    'ProductRatingsReviews': np.random.uniform(1, 5, size=100).round(2),
    'Features': [generate_random_json() for _ in range(100)],
    'LaunchDate': [fake.date_between(start_date='-5y', end_date='today') for _ in range(100)],
    'LifeCycleStage': [random.choice(['Introduction', 'Growth', 'Maturity', 'Decline']) for _ in range(100)],
}

# Creating DataFrame
df = pd.DataFrame(data)
df.head()

/tmp/ipykernel_27356/1098308469.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,ProductID,ProductName,Category,QuantitySold,SalesDate,UnitPrice,Revenue,Channel,Weekday,Month,...,PoliticalEvents,StockLevels,LeadTime,SupplierPerformance,CustomerSegment,PurchaseHistory,ProductRatingsReviews,Features,LaunchDate,LifeCycleStage
0,EqG-710,Send,Microwave,10,2024-01-04,468.43,8784.72,Online,Saturday,6,...,False,48,17,0.97,Senior,"{""key"": ""reason"", ""value"": 673254}",1.85,"{""key"": ""government"", ""value"": 1}",2019-12-27,Maturity
1,vvn-077,Citizen,Refrigerator,25,2023-11-29,975.14,8446.14,Distributor,Wednesday,8,...,False,30,24,0.89,Youth,"{""key"": ""thousand"", ""value"": 539}",3.05,"{""key"": ""reduce"", ""value"": 30823211}",2023-06-05,Maturity
2,FXD-231,Body,Refrigerator,6,2022-05-13,1668.20,5609.94,Online,Sunday,9,...,False,23,21,0.66,Adult,"{""key"": ""state"", ""value"": 12}",2.53,"{""key"": ""hope"", ""value"": 68442}",2021-01-25,Decline
3,LAm-265,Middle,Refrigerator,17,2022-12-06,190.66,1739.75,Online,Saturday,3,...,True,43,12,0.91,Youth,"{""key"": ""break"", ""value"": 43}",2.65,"{""key"": ""today"", ""value"": 9}",2023-12-04,Maturity
4,lkQ-580,Professional,Dryer,27,2022-07-08,447.25,1723.17,In-store,Friday,2,...,False,11,15,0.62,Senior,"{""key"": ""manage"", ""value"": 63}",1.23,"{""key"": ""apply"", ""value"": 40}",2024-02-27,Maturity

In [3]:
# Function to randomly insert NaN values into each column
def insert_random_nans(df, fraction=0.1):
    assert 0 < fraction < 1, "Fraction must be between 0 and 1"

    nrows, ncols = df.shape
    for col in df.columns:
        # Number of NaNs to insert
        n_nans = int(np.floor(nrows * fraction))
        # Randomly choose indices to replace with NaNs
        nan_indices = np.random.choice(nrows, n_nans, replace=False)
        df.iloc[nan_indices, df.columns.get_loc(col)] = np.nan

# Apply the function to your DataFrame
insert_random_nans(df, fraction=0.1)  # This will replace ~10% of values in each column with NaNs
df.head()

/tmp/ipykernel_27356/2677859634.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[nan_indices, df.columns.get_loc(col)] = np.nan

,ProductID,ProductName,Category,QuantitySold,SalesDate,UnitPrice,Revenue,Channel,Weekday,Month,...,PoliticalEvents,StockLevels,LeadTime,SupplierPerformance,CustomerSegment,PurchaseHistory,ProductRatingsReviews,Features,LaunchDate,LifeCycleStage
0,EqG-710,Send,Microwave,10.0,2024-01-04,468.43,8784.72,Online,Saturday,6.0,...,False,48.0,NaN,0.97,Senior,NaN,1.85,"{""key"": ""government"", ""value"": 1}",2019-12-27,Maturity
1,NaN,NaN,Refrigerator,25.0,2023-11-29,975.14,8446.14,Distributor,Wednesday,NaN,...,False,NaN,24.0,0.89,Youth,"{""key"": ""thousand"", ""value"": 539}",3.05,"{""key"": ""reduce"", ""value"": 30823211}",NaN,Maturity
2,FXD-231,Body,Refrigerator,6.0,NaN,1668.20,5609.94,Online,Sunday,9.0,...,False,23.0,21.0,NaN,Adult,"{""key"": ""state"", ""value"": 12}",2.53,"{""key"": ""hope"", ""value"": 68442}",2021-01-25,Decline
3,LAm-265,Middle,NaN,17.0,2022-12-06,NaN,1739.75,Online,NaN,NaN,...,True,43.0,12.0,0.91,Youth,"{""key"": ""break"", ""value"": 43}",2.65,"{""key"": ""today"", ""value"": 9}",2023-12-04,NaN
4,lkQ-580,Professional,Dryer,27.0,2022-07-08,447.25,1723.17,In-store,Friday,2.0,...,NaN,11.0,15.0,0.62,Senior,"{""key"": ""manage"", ""value"": 63}",1.23,"{""key"": ""apply"", ""value"": 40}",2024-02-27,Maturity

inspect dataset df

extract json values into new columns

In [4]:
# Function to check if a cell contains a valid JSON object with 'key' and 'value'
def is_valid_json(cell):
    try:
        json_obj = json.loads(cell)
        return 'key' in json_obj and 'value' in json_obj
    except:
        return False

# Loop through each column in the DataFrame
for col in df.columns:
    # Check the first row to see if it contains the JSON pattern we're interested in
    # Assuming if one row is JSON, the rest are too. Adjust logic as needed for your use case.
    if is_valid_json(df[col].iloc[0]):
        # Parse the column
        df[f'{col}_Key'] = df[col].apply(lambda x: json.loads(x)['key'] if is_valid_json(x) else None)
        df[f'{col}_Value'] = df[col].apply(lambda x: json.loads(x)['value'] if is_valid_json(x) else None)
        df = df.drop(columns=col)

df.head()

,ProductID,ProductName,Category,QuantitySold,SalesDate,UnitPrice,Revenue,Channel,Weekday,Month,...,PurchaseHistory,ProductRatingsReviews,LaunchDate,LifeCycleStage,EconomicIndicators_Key,EconomicIndicators_Value,MarketTrends_Key,MarketTrends_Value,Features_Key,Features_Value
0,EqG-710,Send,Microwave,10.0,2024-01-04,468.43,8784.72,Online,Saturday,6.0,...,NaN,1.85,2019-12-27,Maturity,employee,556.0,see,9407.0,government,1.0
1,NaN,NaN,Refrigerator,25.0,2023-11-29,975.14,8446.14,Distributor,Wednesday,NaN,...,"{""key"": ""thousand"", ""value"": 539}",3.05,NaN,Maturity,behavior,11.0,surface,557.0,reduce,30823211.0
2,FXD-231,Body,Refrigerator,6.0,NaN,1668.20,5609.94,Online,Sunday,9.0,...,"{""key"": ""state"", ""value"": 12}",2.53,2021-01-25,Decline,wait,4602632.0,future,4733.0,hope,68442.0
3,LAm-265,Middle,NaN,17.0,2022-12-06,NaN,1739.75,Online,NaN,NaN,...,"{""key"": ""break"", ""value"": 43}",2.65,2023-12-04,NaN,decision,1093784.0,put,49225554.0,today,9.0
4,lkQ-580,Professional,Dryer,27.0,2022-07-08,447.25,1723.17,In-store,Friday,2.0,...,"{""key"": ""manage"", ""value"": 63}",1.23,2024-02-27,Maturity,message,14576.0,require,165336.0,apply,40.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ProductID                 90 non-null     object
 1   ProductName               90 non-null     object
 2   Category                  90 non-null     object
 3   QuantitySold              90 non-null     float64
 4   SalesDate                 90 non-null     object
 5   UnitPrice                 90 non-null     float64
 6   Revenue                   90 non-null     float64
 7   Channel                   90 non-null     object
 8   Weekday                   90 non-null     object
 9   Month                     90 non-null     float64
 10  Quarter                   90 non-null     float64
 11  Year                      90 non-null     float64
 12  Holiday                   90 non-null     object
 13  CompetitorPricing         90 non-null     float64
 14  Promotions                90 non-null     object
 15  WeatherConditions         90 non-null     object
 16  PoliticalEvents           90 non-null     object
 17  StockLevels               90 non-null     float64
 18  LeadTime                  90 non-null     float64
 19  SupplierPerformance       90 non-null     float64
 20  CustomerSegment           90 non-null     object
 21  PurchaseHistory           90 non-null     object
 22  ProductRatingsReviews     90 non-null     float64
 23  LaunchDate                90 non-null     object
 24  LifeCycleStage            90 non-null     object
 25  EconomicIndicators_Key    90 non-null     object
 26  EconomicIndicators_Value  90 non-null     float64
 27  MarketTrends_Key          90 non-null     object
 28  MarketTrends_Value        90 non-null     float64
 29  Features_Key              90 non-null     object
 30  Features_Value            90 non-null     float64
dtypes: float64(14), object(17)
memory usage: 24.3+ KB

In [6]:
df_numerical = df.select_dtypes(include=[np.number])
df_numerical.head()

,QuantitySold,UnitPrice,Revenue,Month,Quarter,Year,CompetitorPricing,StockLevels,LeadTime,SupplierPerformance,ProductRatingsReviews,EconomicIndicators_Value,MarketTrends_Value,Features_Value
0,10.0,468.43,8784.72,6.0,1.0,NaN,343.16,48.0,NaN,0.97,1.85,556.0,9407.0,1.0
1,25.0,975.14,8446.14,NaN,3.0,2022.0,232.32,NaN,24.0,0.89,3.05,11.0,557.0,30823211.0
2,6.0,1668.20,5609.94,9.0,1.0,2019.0,624.84,23.0,21.0,NaN,2.53,4602632.0,4733.0,68442.0
3,17.0,NaN,1739.75,NaN,1.0,2020.0,435.91,43.0,12.0,0.91,2.65,1093784.0,49225554.0,9.0
4,27.0,447.25,1723.17,2.0,3.0,2021.0,NaN,11.0,15.0,0.62,1.23,14576.0,165336.0,40.0

fill nan values with deep learning prediction

In [ ]:
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.impute import SimpleImputer

def fill_missing_with_dl(df, column):
    # Define features and target
    features = df.columns.difference([column]).tolist()
    X = df[features]
    y = df[column]
    
    # Handle missing values in features
    imputer = SimpleImputer(strategy='median')
    X_imputed = imputer.fit_transform(X)
    
    # Split the data into training and prediction sets
    X_train = X_imputed[~y.isna()]
    y_train = y[~y.isna()].values
    X_predict = X_imputed[y.isna()]

    # Normalize the input features
    X_mean = X_train.mean(axis=0)
    X_std = X_train.std(axis=0)
    X_train = (X_train - X_mean) / X_std
    X_predict = (X_predict - X_mean) / X_std

    # Check if there's anything to predict
    if not X_predict.size:
        return df
    
    # Define the deep learning model
    model = Sequential([
        Dense(128, activation='relu', input_dim=X_train.shape[1]),
        Dense(64, activation='relu'),
        Dense(32, activation='relu'),
        Dense(1)
    ])

    model.compile(optimizer='adam', loss='mean_squared_error')
    
    # Early stopping to prevent overfitting
    early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)
    
    # Split training data for validation
    X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)
    
    # Train the model
    model.fit(X_train, y_train, validation_data=(X_val, y_val), epochs=200, callbacks=[early_stopping], batch_size=32)
    
    # Predict the missing values
    predicted_values = model.predict(X_predict)
    
    # Fill in the missing values in the original DataFrame
    df.loc[df[column].isna(), column] = predicted_values.flatten()
    
    # Round each column to 1 decimal places after filling
    df = df.round(1)
    
    return df

for column in df_numerical.columns.to_list():
    df_numerical = fill_missing_with_dl(df_numerical, column)


from IPython.display import clear_output
clear_output(wait=True)

In [8]:
df_numerical.isna().sum()

QuantitySold                0
UnitPrice                   0
Revenue                     0
Month                       0
Quarter                     0
Year                        0
CompetitorPricing           0
StockLevels                 0
LeadTime                    0
SupplierPerformance         0
ProductRatingsReviews       0
EconomicIndicators_Value    0
MarketTrends_Value          0
Features_Value              0
dtype: int64

apply numeric values standard scaling

In [9]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler object
scaler = StandardScaler()

# Apply standardization to the numerical columns
df_numerical[df_numerical.columns[1:]] = scaler.fit_transform(df_numerical[df_numerical.columns[1:]])
df_numerical.head()

,QuantitySold,UnitPrice,Revenue,Month,Quarter,Year,CompetitorPricing,StockLevels,LeadTime,SupplierPerformance,ProductRatingsReviews,EconomicIndicators_Value,MarketTrends_Value,Features_Value
0,10.0,-1.114603,1.298128,-0.146419,-1.357475,0.175869,-1.253980,0.113865,0.342894,1.518587,-0.795755,-0.256193,-0.297696,-0.307146
1,25.0,-0.099807,1.173977,-0.713010,0.511038,0.015099,-1.468991,-0.634179,1.318970,0.861190,0.272373,-0.256198,-0.297744,-0.128453
2,6.0,1.288302,0.134056,0.748198,-1.357475,-0.034624,-0.708019,-0.850109,0.938681,0.861190,-0.172681,-0.216264,-0.297721,-0.306749
3,17.0,-0.798768,-1.284954,-0.265701,-1.357475,-0.018049,-1.074255,-0.078930,-0.202187,0.861190,-0.083670,-0.246708,-0.027793,-0.307146
4,27.0,-1.157061,-1.291041,-1.339242,0.511038,-0.001475,-0.347599,-1.312817,0.178102,-1.111001,-1.329820,-0.256071,-0.296841,-0.307145

In [10]:
df_categorical = df.select_dtypes(exclude=[np.number])
df_categorical.head()

,ProductID,ProductName,Category,SalesDate,Channel,Weekday,Holiday,Promotions,WeatherConditions,PoliticalEvents,CustomerSegment,PurchaseHistory,LaunchDate,LifeCycleStage,EconomicIndicators_Key,MarketTrends_Key,Features_Key
0,EqG-710,Send,Microwave,2024-01-04,Online,Saturday,False,False,Cloudy,False,Senior,NaN,2019-12-27,Maturity,employee,see,government
1,NaN,NaN,Refrigerator,2023-11-29,Distributor,Wednesday,True,False,Snowy,False,Youth,"{""key"": ""thousand"", ""value"": 539}",NaN,Maturity,behavior,surface,reduce
2,FXD-231,Body,Refrigerator,NaN,Online,Sunday,False,NaN,Rainy,False,Adult,"{""key"": ""state"", ""value"": 12}",2021-01-25,Decline,wait,future,hope
3,LAm-265,Middle,NaN,2022-12-06,Online,NaN,True,False,Snowy,True,Youth,"{""key"": ""break"", ""value"": 43}",2023-12-04,NaN,decision,put,today
4,lkQ-580,Professional,Dryer,2022-07-08,In-store,Friday,False,True,Sunny,NaN,Senior,"{""key"": ""manage"", ""value"": 63}",2024-02-27,Maturity,message,require,apply

In [11]:
# Loop through the DataFrame columns to find those containing 'date'
date_columns = [col for col in df_categorical.columns if 'date' in col.lower()]

# Convert identified 'date' columns to datetime format
for col in date_columns:
    df_categorical[col] = pd.to_datetime(df_categorical[col])

df_categorical = df_categorical.drop(columns=date_columns)

In [12]:
df_categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ProductID               90 non-null     object
 1   ProductName             90 non-null     object
 2   Category                90 non-null     object
 3   Channel                 90 non-null     object
 4   Weekday                 90 non-null     object
 5   Holiday                 90 non-null     object
 6   Promotions              90 non-null     object
 7   WeatherConditions       90 non-null     object
 8   PoliticalEvents         90 non-null     object
 9   CustomerSegment         90 non-null     object
 10  PurchaseHistory         90 non-null     object
 11  LifeCycleStage          90 non-null     object
 12  EconomicIndicators_Key  90 non-null     object
 13  MarketTrends_Key        90 non-null     object
 14  Features_Key            90 non-null     object
dtypes: object(15)
memory usage: 11.8+ KB

fill nan values with deep learning prediction

In [13]:
df_categorical.isna().sum()

ProductID                 10
ProductName               10
Category                  10
Channel                   10
Weekday                   10
Holiday                   10
Promotions                10
WeatherConditions         10
PoliticalEvents           10
CustomerSegment           10
PurchaseHistory           10
LifeCycleStage            10
EconomicIndicators_Key    10
MarketTrends_Key          10
Features_Key              10
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

def fill_missing_with_dl_categorical(df, column):
    # Copy the DataFrame to avoid changes to the original
    df_copy = df.copy()

    # Initialize LabelEncoder for all columns
    le_dict = {}
    for col in df_copy.columns:
        le = LabelEncoder()
        # Convert NaN to a placeholder string and then encode
        df_copy[col] = le.fit_transform(df_copy[col].fillna('Missing').astype(str))
        le_dict[col] = le
    
    # Define features and target
    features = [col for col in df_copy.columns if col != column]
    X = df_copy[features]
    y = df_copy[column]
    
    # Handle missing values in features
    imputer = SimpleImputer(strategy='median')
    X_imputed = imputer.fit_transform(X)

    # Normalize the input features
    X_mean = np.mean(X_imputed, axis=0)
    X_std = np.std(X_imputed, axis=0)
    X_normalized = (X_imputed - X_mean) / (X_std + 1e-6)

    # Identify rows with missing target values after encoding ('Missing' placeholder)
    if 'Missing' in le_dict[column].classes_:
        missing_value_encoded = le_dict[column].transform(['Missing'])[0]
        missing_indices = (y == missing_value_encoded)
    else:
        return df

    # Split the data into training and prediction sets
    X_train = X_normalized[~missing_indices]
    y_train = y[~missing_indices]
    X_predict = X_normalized[missing_indices]

    # Check if there's anything to predict
    if not X_predict.size:
        return df
    
    # Define the deep learning model
    model = Sequential([
        Dense(128, activation='relu', input_dim=X_train.shape[1]),
        Dense(64, activation='relu'),
        Dense(32, activation='relu'),
        Dense(1)  # Output layer for regression-like approach
    ])

    model.compile(optimizer='adam', loss='mean_squared_error')
    early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)
    
    # Train the model
    X_train_split, X_val_split, y_train_split, y_val_split = train_test_split(X_train, y_train, test_size=0.2, random_state=42)
    model.fit(X_train_split, y_train_split, validation_data=(X_val_split, y_val_split), epochs=200, callbacks=[early_stopping], batch_size=32)
    
    # Predict the missing values
    predicted_values = model.predict(X_predict).flatten()
    
    # Inverse transform the predicted values back to original categories, ignoring 'Missing'
    predicted_categories = le_dict[column].inverse_transform(np.round(predicted_values).astype(int))
    df.loc[df[column].isna(), column] = predicted_categories

    return df

for column in df_categorical.columns.to_list():
    df_categorical = fill_missing_with_dl_categorical(df_categorical, column)


from IPython.display import clear_output
clear_output(wait=True)

In [15]:
df_categorical.isna().sum()

ProductID                 0
ProductName               0
Category                  0
Channel                   0
Weekday                   0
Holiday                   0
Promotions                0
WeatherConditions         0
PoliticalEvents           0
CustomerSegment           0
PurchaseHistory           0
LifeCycleStage            0
EconomicIndicators_Key    0
MarketTrends_Key          0
Features_Key              0
dtype: int64

In [16]:
df_categorical.head()

,ProductID,ProductName,Category,Channel,Weekday,Holiday,Promotions,WeatherConditions,PoliticalEvents,CustomerSegment,PurchaseHistory,LifeCycleStage,EconomicIndicators_Key,MarketTrends_Key,Features_Key
0,EqG-710,Send,Microwave,Online,Saturday,False,False,Cloudy,False,Senior,"{""key"": ""once"", ""value"": 442056}",Maturity,employee,see,government
1,Qac-564,Mrs,Refrigerator,Distributor,Wednesday,True,False,Snowy,False,Youth,"{""key"": ""thousand"", ""value"": 539}",Maturity,behavior,surface,reduce
2,FXD-231,Body,Refrigerator,Online,Sunday,False,Missing,Rainy,False,Adult,"{""key"": ""state"", ""value"": 12}",Decline,wait,future,hope
3,LAm-265,Middle,Missing,Online,Sunday,True,False,Snowy,True,Youth,"{""key"": ""break"", ""value"": 43}",Growth,decision,put,today
4,lkQ-580,Professional,Dryer,In-store,Friday,False,True,Sunny,Missing,Senior,"{""key"": ""manage"", ""value"": 63}",Maturity,message,require,apply

apply unique values as 'other' label

In [17]:
for column in df_categorical.columns:
    value_counts = df_categorical[column].value_counts()
    unique_values = value_counts[value_counts == 1].index.tolist()
    df_categorical[column] = df_categorical[column].apply(lambda x: 'other' if x in unique_values else x)

In [18]:
for column in df_categorical.columns:
    print(df_categorical[column].value_counts())

ProductID
other      84
Qac-564     3
Loz-929     3
Xax-679     2
NbS-315     2
OdE-226     2
RiT-154     2
Npw-552     2
Name: count, dtype: int64
ProductName
other          79
Loss            3
Mrs             2
Middle          2
Green           2
Interesting     2
Office          2
List            2
Program         2
Society         2
Learn           2
Name: count, dtype: int64
Category
Washer          22
Oven            19
Refrigerator    17
Microwave       16
Dryer           16
Missing         10
Name: count, dtype: int64
Channel
In-store       45
Distributor    31
Online         24
Name: count, dtype: int64
Weekday
Saturday     20
Sunday       19
Thursday     19
Friday       18
Wednesday     9
Monday        8
Tuesday       7
Name: count, dtype: int64
Holiday
False      45
True       45
Missing    10
Name: count, dtype: int64
Promotions
False      49
True       41
Missing    10
Name: count, dtype: int64
WeatherConditions
Sunny     30
Snowy     26
Rainy     26
Cloudy    18
Name: count, dtype: int64
PoliticalEvents
False      51
True       39
Missing     9
other       1
Name: count, dtype: int64
CustomerSegment
Senior     32
Youth      31
Adult      28
Missing     9
Name: count, dtype: int64
PurchaseHistory
other                                 83
{"key": "once", "value": 442056}       3
{"key": "him", "value": 8}             3
{"key": "huge", "value": 52715127}     3
{"key": "kid", "value": 18398}         2
{"key": "make", "value": 399}          2
{"key": "fly", "value": 3555}          2
{"key": "major", "value": 8}           2
Name: count, dtype: int64
LifeCycleStage
Decline         33
Growth          25
Maturity        22
Introduction    20
Name: count, dtype: int64
EconomicIndicators_Key
other       71
enough       4
guess        3
employee     2
himself      2
example      2
learn        2
arrive       2
impact       2
fund         2
dinner       2
speak        2
fact         2
medical      2
Name: count, dtype: int64
MarketTrends_Key
other        72
old           3
glass         3
member        2
act           2
general       2
gas           2
hot           2
for           2
interview     2
set           2
ground        2
fire          2
hard          2
Name: count, dtype: int64
Features_Key
other            73
laugh             4
her               3
government        2
hope              2
conference        2
identify          2
hair              2
teacher           2
heart             2
international     2
check             2
walk              2
Name: count, dtype: int64

apply one hot encoding for categorical

In [19]:
df_categorical_encoded = pd.get_dummies(df_categorical.iloc[:, 2:-4], drop_first=True).astype('int')
del df_categorical
df_categorical_encoded.head()

,Category_Microwave,Category_Missing,Category_Oven,Category_Refrigerator,Category_Washer,Channel_In-store,Channel_Online,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,...,CustomerSegment_Missing,CustomerSegment_Senior,CustomerSegment_Youth,"PurchaseHistory_{""key"": ""fly"", ""value"": 3555}","PurchaseHistory_{""key"": ""him"", ""value"": 8}","PurchaseHistory_{""key"": ""huge"", ""value"": 52715127}","PurchaseHistory_{""key"": ""kid"", ""value"": 18398}","PurchaseHistory_{""key"": ""major"", ""value"": 8}","PurchaseHistory_{""key"": ""make"", ""value"": 399}","PurchaseHistory_{""key"": ""once"", ""value"": 442056}"
0,1,0,0,0,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
1,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

concat numerical and categorical columns

In [20]:
# Assuming you have two datasets named df1 and df2
concatenated_df = pd.concat([df_numerical, df_categorical_encoded], axis=1)
del df_numerical, df_categorical_encoded
concatenated_df.head()

,QuantitySold,UnitPrice,Revenue,Month,Quarter,Year,CompetitorPricing,StockLevels,LeadTime,SupplierPerformance,...,CustomerSegment_Missing,CustomerSegment_Senior,CustomerSegment_Youth,"PurchaseHistory_{""key"": ""fly"", ""value"": 3555}","PurchaseHistory_{""key"": ""him"", ""value"": 8}","PurchaseHistory_{""key"": ""huge"", ""value"": 52715127}","PurchaseHistory_{""key"": ""kid"", ""value"": 18398}","PurchaseHistory_{""key"": ""major"", ""value"": 8}","PurchaseHistory_{""key"": ""make"", ""value"": 399}","PurchaseHistory_{""key"": ""once"", ""value"": 442056}"
0,10.0,-1.114603,1.298128,-0.146419,-1.357475,0.175869,-1.253980,0.113865,0.342894,1.518587,...,0,1,0,0,0,0,0,0,0,1
1,25.0,-0.099807,1.173977,-0.713010,0.511038,0.015099,-1.468991,-0.634179,1.318970,0.861190,...,0,0,1,0,0,0,0,0,0,0
2,6.0,1.288302,0.134056,0.748198,-1.357475,-0.034624,-0.708019,-0.850109,0.938681,0.861190,...,0,0,0,0,0,0,0,0,0,0
3,17.0,-0.798768,-1.284954,-0.265701,-1.357475,-0.018049,-1.074255,-0.078930,-0.202187,0.861190,...,0,0,1,0,0,0,0,0,0,0
4,27.0,-1.157061,-1.291041,-1.339242,0.511038,-0.001475,-0.347599,-1.312817,0.178102,-1.111001,...,0,1,0,0,0,0,0,0,0,0

In [21]:
from sklearn.model_selection import train_test_split

# Split the concatenated_df into train and test sets
train_df, test_df = train_test_split(concatenated_df, test_size=0.2, random_state=42)

# Print the shapes of the train and test sets
print("Train set shape:", train_df.shape)
print("Test set shape:", test_df.shape)

Train set shape: (80, 47)
Test set shape: (20, 47)

In [22]:
# !pip install xgboost
# !pip install catboost

In [23]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import GradientBoostingRegressor, AdaBoostRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor

# Split the data into features (X) and target (y)
X = train_df.drop(columns=['QuantitySold'])
y = train_df['QuantitySold']

# Define the parameter grid for GradientBoostingRegressor
gb_param_grid = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.001, 0.01, 0.1, 0.5],
    'max_depth': [3, 5, 7],
    'min_samples_split': [2, 4, 6],
    'min_samples_leaf': [1, 2, 3],
    'subsample': [0.8, 0.9, 1.0],
    'max_features': ['auto', 'sqrt', 'log2']
}

# Define the parameter grid for RandomForestRegressor
rf_param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [3, 5, 7],
    'min_samples_split': [2, 4, 6],
    'min_samples_leaf': [1, 2, 3],
    'max_features': ['auto', 'sqrt', 'log2'],
    'bootstrap': [True, False]
}

# Define the parameter grid for XGBRegressor
xgb_param_grid = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.001, 0.01, 0.1, 0.5],
    'max_depth': [3, 5, 7],
    'min_child_weight': [1, 3, 5],
    'subsample': [0.8, 0.9, 1.0],
    'colsample_bytree': [0.8, 0.9, 1.0],
    'gamma': [0, 0.1, 0.2],
    'reg_alpha': [0, 0.1, 0.5],
    'reg_lambda': [0, 0.1, 0.5]
}

# Define the parameter grid for CatBoostRegressor
cat_param_grid = {
    'iterations': [100, 200, 300],
    'learning_rate': [0.001, 0.01, 0.1, 0.5],
    'depth': [3, 5, 7],
    'l2_leaf_reg': [1, 3, 5],
    'border_count': [5, 10, 15],
    'loss_function': ['RMSE', 'MAE'],
    'bootstrap_type': ['Bayesian', 'Bernoulli'],
    'early_stopping_rounds': [10, 20, 30]
}

# Create the GradientBoostingRegressor, AdaBoostRegressor,  XGBRegressor, CatBoostRegressor, and RandomForestRegressor models
gb_model = GradientBoostingRegressor()
rf_model = RandomForestRegressor()
ada_model = AdaBoostRegressor()
xgb_model = XGBRegressor()
cat_model = CatBoostRegressor(verbose=False)

# Perform RandomizedSearchCV for GradientBoostingRegressor
gb_random_search = RandomizedSearchCV(gb_model, gb_param_grid, n_iter=10, cv=5, random_state=42)
gb_random_search.fit(X, y)

# Perform RandomizedSearchCV for RandomForestRegressor
rf_random_search = RandomizedSearchCV(rf_model, rf_param_grid, n_iter=10, cv=5, random_state=42)
rf_random_search.fit(X, y)

# Perform RandomizedSearchCV for XGBRegressor
xgb_random_search = RandomizedSearchCV(xgb_model, xgb_param_grid, n_iter=10, cv=5, random_state=42)
xgb_random_search.fit(X, y)

# Perform RandomizedSearchCV for CatBoostRegressor
cat_random_search = RandomizedSearchCV(cat_model, cat_param_grid, n_iter=10, cv=5, random_state=42)
cat_random_search.fit(X, y)

# Get the best parameters and best scores for both models
best_gb_params = gb_random_search.best_params_
best_gb_score = gb_random_search.best_score_

best_rf_params = rf_random_search.best_params_
best_rf_score = rf_random_search.best_score_

best_xgb_params = xgb_random_search.best_params_
best_xgb_score = xgb_random_search.best_score_

best_cat_params = cat_random_search.best_params_
best_cat_score = cat_random_search.best_score_

# Define the parameter grid for AdaBoostRegressor
ada_param_grid = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.001, 0.01, 0.1, 0.5],
    'loss': ['linear', 'square', 'exponential'],
    'estimator': [None]
    #'estimator': [None, RandomForestRegressor(**best_rf_params), GradientBoostingRegressor(**best_gb_params)]
}

# Perform RandomizedSearchCV for AdaBoostRegressor
ada_random_search = RandomizedSearchCV(ada_model, ada_param_grid, n_iter=10, cv=5, random_state=42)
ada_random_search.fit(X, y)

best_ada_params = ada_random_search.best_params_
best_ada_score = ada_random_search.best_score_

# Print the best parameters and best scores for both models
print("Best parameters for GradientBoostingRegressor:", best_gb_params)
print("Best score for GradientBoostingRegressor:", best_gb_score)

print("Best parameters for RandomForestRegressor:", best_rf_params)
print("Best score for RandomForestRegressor:", best_rf_score)

print("Best parameters for AdaBoostRegressor:", best_ada_params)
print("Best score for AdaBoostRegressor:", best_ada_score)

print("Best parameters for XGBRegressor:", best_xgb_params)
print("Best score for XGBRegressor:", best_xgb_score)

print("Best parameters for CatBoostRegressor:", best_cat_params)
print("Best score for CatBoostRegressor:", best_cat_score)

/home/codespace/.local/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:542: FitFailedWarning:
15 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "/home/codespace/.local/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 890, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/codespace/.local/lib/python3.10/site-packages/sklearn/base.py", line 1344, in wrapper
    estimator._validate_params()
  File "/home/codespace/.local/lib/python3.10/site-packages/sklearn/base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "/home/codespace/.local/lib/python3.10/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of GradientBoostingRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/home/codespace/.local/lib/python3.10/site-packages/sklearn/model_selection/_search.py:1051: UserWarning: One or more of the test scores are non-finite: [-0.22339322         nan -0.22424561 -0.28945242 -0.68466831 -0.28147695
 -0.05035034         nan -0.04472447         nan]
  warnings.warn(
/home/codespace/.local/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:542: FitFailedWarning:
20 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
20 fits failed with the following error:
Traceback (most recent call last):
  File "/home/codespace/.local/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 890, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/codespace/.local/lib/python3.10/site-packages/sklearn/base.py", line 1344, in wrapper
    estimator._validate_params()
  File "/home/codespace/.local/lib/python3.10/site-packages/sklearn/base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "/home/codespace/.local/lib/python3.10/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/home/codespace/.local/lib/python3.10/site-packages/sklearn/model_selection/_search.py:1051: UserWarning: One or more of the test scores are non-finite: [        nan         nan         nan -0.20115037 -0.19356536 -0.17288225
 -0.16562385 -0.10498608         nan -0.10298047]
  warnings.warn(

Best parameters for GradientBoostingRegressor: {'subsample': 0.8, 'n_estimators': 300, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': 5, 'learning_rate': 0.001}
Best score for GradientBoostingRegressor: -0.044724468504469005
Best parameters for RandomForestRegressor: {'n_estimators': 200, 'min_samples_split': 4, 'min_samples_leaf': 2, 'max_features': 'log2', 'max_depth': 7, 'bootstrap': True}
Best score for RandomForestRegressor: -0.10298047193152371
Best parameters for AdaBoostRegressor: {'n_estimators': 200, 'loss': 'exponential', 'learning_rate': 0.01, 'estimator': None}
Best score for AdaBoostRegressor: -0.28535548603564803
Best parameters for XGBRegressor: {'subsample': 1.0, 'reg_lambda': 0, 'reg_alpha': 0, 'n_estimators': 100, 'min_child_weight': 3, 'max_depth': 5, 'learning_rate': 0.001, 'gamma': 0.2, 'colsample_bytree': 1.0}
Best score for XGBRegressor: -0.02315662208607361
Best parameters for CatBoostRegressor: {'loss_function': 'MAE', 'learning_rate': 0.001, 'l2_leaf_reg': 3, 'iterations': 100, 'early_stopping_rounds': 10, 'depth': 5, 'border_count': 5, 'bootstrap_type': 'Bernoulli'}
Best score for CatBoostRegressor: -0.025565767774776392

In [24]:
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from xgboost import XGBRegressor

# Split the test_df into features (X_test) and target (y_test)
X_test = test_df.drop(columns=['QuantitySold'])
y_test = test_df['QuantitySold']

# Create the GradientBoostingRegressor, AdaBoostRegressor, CatBoostRegressor, RandomForestRegressor, and XGBRegressor models with the best parameters
gb_model_best = GradientBoostingRegressor(**best_gb_params)
rf_model_best = RandomForestRegressor(**best_rf_params)
ada_model_best = AdaBoostRegressor(**best_ada_params)
xgb_model_best = XGBRegressor(**best_xgb_params)
cat_model_best = CatBoostRegressor(**best_cat_params, verbose=False)

# Fit the models on the training data
gb_model_best.fit(X, y)
rf_model_best.fit(X, y)
ada_model_best.fit(X, y)
xgb_model_best.fit(X, y)
cat_model_best.fit(X, y)

# Predict the target variable for the test data using the fitted models
gb_predictions = gb_model_best.predict(X_test)
rf_predictions = rf_model_best.predict(X_test)
ada_predictions = ada_model_best.predict(X_test)
xgb_predictions = xgb_model_best.predict(X_test)
cat_predictions = cat_model_best.predict(X_test)

# Create a dataframe with the actual test data and the predictions from all five models
predictions_df = pd.DataFrame({'Actual': y_test, 'GradientBoost': gb_predictions, 'RandomForest': rf_predictions, 'AdaBoost': ada_predictions, 'XGBoost': xgb_predictions, 'CatBoost': cat_predictions})
predictions_df

    Actual  GradientBoost  RandomForest   AdaBoost    XGBoost   CatBoost
83    43.0      26.260813     27.203342  28.058140  25.567577  27.219001
53    45.0      26.139045     27.793722  23.494545  25.508171  27.227652
70    36.0      26.300011     26.628793  25.513725  25.431765  27.244633
45    26.0      26.875895     27.189036  29.594872  25.815775  27.461337
44    29.0      25.703511     26.033575  23.494545  25.609629  27.062884
39    23.0      24.866875     22.040919  20.409836  25.125658  26.787946
22    33.0      25.372463     24.330507  21.200000  25.472754  27.111708
80    11.0      24.695016     21.550315  18.700000  25.225607  26.837824
10     4.0      24.694262     23.089939  22.400000  26.310291  26.929001
0     10.0      25.973956     27.413584  25.513725  25.326086  27.201172
18    30.0      24.962373     23.137059  21.493548  25.337688  27.032207
30    10.0      25.625093     23.332636  24.115385  25.992201  27.264408
73     5.0      26.268069     26.847507  29.055556  26.767197  27.057349
33    21.0      27.195533     28.829196  31.739130  27.378023  27.437980
90    29.0      25.626616     24.516610  25.146667  25.703966  27.078970
4     27.0      25.483023     25.505378  25.513725  26.181232  27.031923
76     1.0      27.151000     27.238566  30.256667  27.378023  27.144010
77    19.0      25.109498     23.476716  21.600000  25.628487  27.268758
12    37.0      25.253385     24.322646  21.033333  25.230873  26.888373
31    33.6      27.404861     29.749223  32.217391  27.378023  27.485587